@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-shadow: none;
    border-style: none;
}

/* Mobile First */

body {
    background-image: url(./img/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 77px;
    margin-top: 50px;
}

.container {
    max-width: 696px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 20px;
    padding: 25px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 21px 8px rgba(0, 0, 0, 0.24);
}

.question {
    color: #143164;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

h1 {
    color: #143164;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
}

.alternatives {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.item {
    border-radius: 5px;
    border: 1px solid #767676;
    background: rgba(241, 241, 241, 0.44);
    color: #686868;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
}

  .verdadeiro {
    background-color: #10b02b;
    color: #FFF;
    border: none;
    transition: ease-in-out 0.3s;
  }

  .falso {
    background-color: #FF002B;
    color: #FFF;
    border: none;
    transition: ease-in-out 0.3s;
  }

.navegation {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

p {
    color: #686868;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
}

.btn-navigation {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.action-btn {
    width: 23px;
}

/* Tablet */
@media (min-width: 500px){
    body {
        background-image: url(./img/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .logo {
        width: 100px;
      }

    .question {
        font-size: 32px;
    }

    .alternatives {
        gap: 13px;
    }

    li {
        font-size: 15px;
        padding: 15px;
    }

    button {
        font-size: 15px;
        padding: 10px;
    }

    .action-btn {
        width: 34.34px;
    }

    p {
        font-size: 15px;
    }
}


/* Desktop */
@media (min-width: 1024px){

    .container {
        max-width: 696px;
        padding: 50px;
    }

    .question {
        font-size: 40px;
        margin-bottom: 40px;
    }

    button {
        font-size: 20px;
        padding: 10px;
    }

    .navegation {
        gap: 55px;
    }
}
